html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

@media screen and (prefers-reduced-motion: reduce) {

    html {
        scroll-behavior: auto;
    }

}

body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    background-color: #f5f5f5;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
}

.header {
    height: 80px;
    text-align: left;
    background-color: #0C0C0E;
}

.name-site {
    width: 340px;
    margin: 0px auto;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    border-bottom: 2px solid #ffffff;
}

.main {
    padding-top: 2em;
    background-color: #0e0e11;
}

.slider-wrapper {
    display: block;
    overflow: hidden;
    background-color: #0e0e11;
}

.item-carousel__img {
    border-radius: 2vh;
    height: 70vh;
}

.slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.slider .button {
    display: inline-block;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: #2070c5;
    border: 0.2em solid #2070c5;
    cursor: pointer;
}

#slide-1 {
    margin-left: 0%;
    margin-top: 0%;
}

#slide-2 {
    margin-left: 100%;
    margin-top: -72%;
}

#slide-3 {
    margin-left: 200%;
    margin-top: -72%;
}

#slide-4 {
    margin-left: 300%;
    margin-top: -71%;
}

#slide-5 {
    margin-left: 400%;
    margin-top: -71%;
}

.slider>div {
    width: 90%;
    align-items: center;
    transition: transform 3s;
}

.desc-slide {
    padding: 4vh 0;
    font-weight: 600;
}

.slider figcaption {
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
}

.hidden {
    display: none;
}

.slider figcaption {
    width: 50%;
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

.pagination {
    display: inline-block;
    width: 50%;
    margin: -6em 0em 0em 70%;
}

.pagination label .control-area {
    display: inline-block;
}

.slider-control-pagination {
    display: inline-block;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: #2070c5;
    border: 0.2em solid #2070c5;
    cursor: pointer;
}

.control-area {
    display: block;
    width: 2em;
    height: 5em;
    /* margin: -1em 0em; */
}

.slider-control-pagination:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.slide-radio1:checked~.pagination .page1,
.slide-radio2:checked~.pagination .page2,
.slide-radio3:checked~.pagination .page3,
.slide-radio4:checked~.pagination .page4,
.slide-radio5:checked~.pagination .page5 {
    background-color: #0e0e11;
    border: 0.2em solid #2070c5;
    cursor: default;
}

.slide-radio1:checked~.slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slide-radio2:checked~.slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-radio3:checked~.slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.slide-radio4:checked~.slider {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

.slide-radio5:checked~.slider {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
}

.slide-radio1:checked~#slide-1 figcaption,
.slide-radio2:checked~#slide-2 figcaption,
.slide-radio3:checked~#slide-3 figcaption,
.slide-radio4:checked~#slide-4 figcaption,
.slide-radio5:checked~#slide-5 figcaption {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}


@media screen and (max-width: 820px) {

    .desc-slide {
        padding: 8vh 0vh;
    }
    
    .pagination {
        margin: -26vh auto;
    }

}